.defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 3.6rem 0;
  padding: .8rem;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.defaultButton:hover {
  filter: brightness(80%);
}

.defaultButton svg {
  width: 3.2rem;
  height: 3.2rem;
}